@tailwind base;
@tailwind components;
@tailwind utilities;

/* Initial state of the tooltip text is hidden */
.tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

/* Change to visible when hovering over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


.input-hover:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
  }
  
  /* Hover animation for the update button */
  .button-hover:hover {
    background-color: #28a745; /* Change the background color on hover */
    transition: background-color 0.3s ease-in-out;
  }
  .eye-button {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .slow-spin{
    animation-duration: 2s;
  }
  
  


